<footer id="footer">
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left"><img alt="estonia" width=50px heigth=50px; src="http://www.portalsaofrancisco.com.br/alfa/estonia/imagens/Estoni19.jpg"> Copyright 2014 COMERCIATOR | TCC-ESTONIA Inc. Todos direitos reservados. </p>
	
			</div>
		</div>
	</div>
</footer>
