<meta charset="utf-8">

<link rel="stylesheet" href="/resources/css/style.css"> 
<link rel="stylesheet" href="/resources/css/pure.css"> 
<link rel="stylesheet" href="/resources/css/template/animate.css">
<link rel="stylesheet" href="/resources/css/template/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/template/main.css">
<link rel="stylesheet" href="/resources/css/template/prettyPhoto.css">
<link rel="stylesheet" href="/resources/css/template/responsive.css">
<link rel="stylesheet" href="/resources/css/template/font-awesome.min.css">

<script src="/resources/js/template/jquery.js"></script>
<script src="/resources/js/template/accounting.min.js"></script>
<script src="/resources/js/template/html5shiv.js"></script>
<script src="/resources/js/template/jquery.maskedinput.min.js"></script> 
<!--

//-->
</script>

<script>
// Função para converter um numero para o formato Money
function toMoney(numero) {
	return accounting.formatMoney(numero, "R$ ", 2, ".", ",");
}
</script>