	<header id="header"><!--header-->
		
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a style="color:#696763" href="/"><h1><img width=50px height=50px src="/resources/img/sacola.jpg" alt="" />COMERCIATOR</h1></a>
							<!--http://www.criativembalagens.com.br/imagens/criativembalagens.com.br/produtos/Sacola/Sacolas_com_montagem_automatica_Lisa_Laranja.jpg
							-->
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/carrinho"><i class="fa fa-shopping-cart"></i> Carrinho </a></li>
								<li><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Home</a></li>
								<li class="dropdown"><a href="#">Loja<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/produtos">Produtos</a></li> 
										<li><a href="/pagamento/dados">Finalizar Compra</a></li> 
										<li><a href="/carrinho">Carrinho</a></li> 
										<li><a href="/login">Login</a></li> 
                                    </ul>
                                </li> 
                                   
                                </li> 
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<form id="pesquisa">
								<input type="text" id="busca" placeholder="Procurar"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<script src="/resources/js/produtos-pesquisa.js"></script>
	