<div class="col-sm-3">
	<div class="left-sidebar">
		<h2>Categoria</h2>
		<div class="panel-group category-products" id="accordian"><!--category-productsr-->

			
		</div><!--/category-products-->
	
	</div>
</div>

<script src="/resources/js/menu-lateral.js"></script>
