/* Arquivo CSS de exemplo. Deve ser excluído */
body {
	background-color: #dedede;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
}

#content {
	margin: 50px auto;
	width: 500px;
}

.intro-header {
	background-color: #000;
	border: 1px solid black;
	padding: 10px;
	width: 100%;
}

.intro-body {
	background-color: #fff;
	border: 1px solid black;
	padding: 10px;
	width: 100%;
}

#mestres {
	background-color: #dedede;
	padding: 5px;
}
