<meta charset="utf-8">

<div style="font-family: 'Roboto', sans-serif;color: #696763; width:500px">

	<a style="color:#696763" href="/"><h1><img width=50px height=50px src="http://www.criativembalagens.com.br/imagens/criativembalagens.com.br/produtos/Sacola/Sacolas_com_montagem_automatica_Lisa_Laranja.jpg" alt="" />COMERCIATOR</h1></a>
	
	<div >
		<h1 style="color:#FE980F;">Prezado(a) --USUARIO</h1>
		<p>
		Sua compra foi realizada com êxito!
		<br>
		Segue abaixo dados da compra.
		</p>
	</div>
	
	<br>
	
	<b>Código da compra</b>
	<hr align="left" style="border-width: 1px 0px 0px;border-style: solid none none;border-color: #D5D0BF -moz-use-text-color -moz-use-text-color;border-image: none; width:250px">
	 --CODIGO
	 
	<br><br><br>
	
	<b>Endereço para entrega</b>
	<br>
	<hr align="left" style="border-width: 1px 0px 0px;border-style: solid none none;border-color: #D5D0BF -moz-use-text-color -moz-use-text-color;border-image: none; width:250px">
	--ENDERECO - --COMPLEMENTO
	<br>
	CEP --CEP
	<br>
	--CIDADE, --UF - --PAIS
	
	<br><br><br>
	
	<b>Valor Total</b>
	<hr align="left" style="border-width: 1px 0px 0px;border-style: solid none none;border-color: #D5D0BF -moz-use-text-color -moz-use-text-color;border-image: none; width:250px">
	--PRECO
</div>