<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | E-Shopper</title>
    {{>/WEB-INF/includes/head.html}}
</head><!--/head-->

<body>
	<div class="container text-center">
		<div class="logo-404">
			<a style="color:#696763" href="/"><h4><img width=25px height=25px src="/resources/img/sacola.jpg" alt="" />COMERCIATOR</h4></a>
		</div>
		<div class="content-404">
			<img src="/resources/img/404.png" class="img-responsive" alt="" />
			<h1><b>OPPS!</b> Nós não encontramos esta página</h1>
			<p>Uh... Portanto, parece que você quebrou alguma coisa. A página que você está procurando desapareceu.</p>
			<h2><a href="/">Me leve de volta</a></h2>
		</div>
	</div>

</body>
</html>