<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho | Comerciator</title>
    {{>/WEB-INF/includes/head.html}}
    
</head><!--/head-->

<body>
	{{>/WEB-INF/includes/header.html}}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Detalhes do Carrinho</li>
				</ol>
			</div>
			<div class="table-responsive cart_info" id="carrinho-container" hidden>
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">  Produto</td>
							<td class="description">Descrição</td>
							<td class="price">Valor Unitário</td>
							<td class="quantity">Quantidade</td>
							<td class="total">Valor Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="tbody-carrinho">
					</tbody>
				</table>
				<hr>
				<div id="preco-total">
					<span>Total <span id="span-preco-total"></span></span>
				</div>
			</div>
			<div id="carrinho-buttons" hidden>
				<br>
				<a class="btn btn-default update" href="/">Ver mais</a>
				<a class="btn btn-default check_out" href="/pagamento">Finalizar</a>
			</div>
		</div>
	</section> <!--/#cart_items-->
	
	{{>/WEB-INF/includes/scripts-after.html}}
    {{>/WEB-INF/includes/head-carrinho.html}}
    
</body>
</html>