<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar compra | Comerciator</title>
    {{>/WEB-INF/includes/head.html}}
</head><!--/head-->

<body>
	{{>/WEB-INF/includes/header.html}}
	
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Finalizar Compra</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Dados para compra</h2>
			</div>
			
			<div class="shopper-informations">
				<div class="row">
					<!-- coluna 1 -->
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Dados do cartão</p>
							<form>
								<input type="text" placeholder="Número" id="numero" required>
								<input type="text" placeholder="Nome do titular" id="titular" required>
								<input type="text" placeholder="Validade" id="validade" required>
								<input type="text" placeholder="Código" id="codigo" required>
							</form>
							
						</div>
					</div>
					
					
					<!-- coluna 2/3 -->
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Informações para entrega</p>
							<div class="form-one">
								<form>
									<input type="text" placeholder="Endereço" id="endereco" name="endereco" required>
									<input type="text" placeholder="Complemento" id="complemento" name="complemento" required>
									<input type="text" placeholder="CEP" id="cep" name="cep" required>
								</form>
							</div>
							<div class="form-two">
								<form>
									<input type="text" placeholder="Cidade" id="cidade" name="cidade" required>
									<input type="text" placeholder="Estado" id="uf" name="uf" required>
									<input type="text" placeholder="País" id="pais" name="pais" required>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<h3>Atenção</h3>
							<p>
							Preencha os seus dados ao lado para finalizar a sua compra.
							Após finalizar, será feito a analize do seu cartão e, se efetivado, você receberá um email avisando.
							</p>
							<div style="align-text:right" >
								<a type="button" class="btn btn-primary" id="finaliza-compra">Finalizar Compra</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="review-payment">
				<h2>Produtos & Valores</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">  Produto</td>
							<td class="description">Descrição</td>
							<td class="price">Valor Unitário</td>
							<td class="quantity">Quantidade</td>
							<td class="total">Valor Total</td>
						</tr>
						
					</thead>
					<tbody id="tbody-carrinho">
						
					</tbody>
				</table>
				<hr>
			<div id="preco-total">
				<span>Total <span id="span-preco-total"></span></span>
			</div>
			</div>
		</div>
	</section> <!--/#cart_items-->
	{{>/WEB-INF/includes/scripts-after.html}}
    {{>/WEB-INF/includes/head-dados-pagamento.html}}
</body>