
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Comerciator</title>
   
        {{>/WEB-INF/includes/head.html}}
    
</head><!--/head-->

<body>
    {{>/WEB-INF/includes/header.html}}
  

	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						
						<div class="carousel-inner" id="carousel-inner">
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				{{>/WEB-INF/includes/menu-lateral.html}}	
					<!-- Menu lateral com produtos e categorias -->			
				
				<div class="col-sm-9 padding-right">
					<div class="features_items" id="promocoes-itens"><!--features_items-->
						<h2 class="title text-center">Destaques</h2>
						<!-- Itens em Promoção -->
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
    
    {{>/WEB-INF/includes/scripts-after.html}}
    
    <script src="/resources/js/index.js"></script>
</body>
</html>