<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Comerciator</title>
    {{>/WEB-INF/includes/head.html}}
</head><!--/head-->

<body>

	{{>/WEB-INF/includes/header.html}}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Entrar</h2>
						<form action="/login/autentica" method="post">
							<input type="text" name="email" placeholder="Email" />
							<input type="password" name="senha" placeholder="Senha" />
							<button type="submit" class="btn btn-default">Login</button>
						</form>
						<div style="text-align:center; margin-top:20px; font-size:18px; color:red;">
							<span>{{mensagem}}</span>
						</div>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OU</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Cadastre-se</h2>
						<form action="/login/salvar" method="POST">
							<input type="text" name="nome" placeholder="Nome Completo"/>
							<input type="email" name="email" placeholder="Email"/>
							<input type="password" name="senha" placeholder="Senha"/>
							<button type="submit" class="btn btn-default">Cadastrar</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->

	{{>/WEB-INF/includes/scripts-after.html}}
</body>
</html>