<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar compra | Comerciator</title>
    {{>/WEB-INF/includes/head.html}}
</head><!--/head-->

<body>
	{{>/WEB-INF/includes/header.html}}
	
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">Compra Concluida</li>
				</ol>
			</div><!--/breadcrums-->
			
			<div>
				<h1 style="color:#FE980F">Sucesso!</h1>
				
				<h3>
				<p>
					Sua compra foi finalizada.<br>
					Seus dados serão verificados e, em seguida,
					você receberá um email de confirmação.
					
					<br><br>
					
					Clique <a href="/">aqui</a> para voltar à página inicial.
				</p>
				</h3>			
			</div>
			
		</div>
	</section> <!--/#cart_items-->
	{{>/WEB-INF/includes/scripts-after.html}}
</body>