<!DOCTYPE html>
<html lang="en">
{{>WEB-INF/includes/head.html}}

<body>
	{{>WEB-INF/includes/header.html}}
		
	<section>
		<div class="container">
			<div class="row">
				{{>/WEB-INF/includes/menu-lateral.html}}
				<div class="col-sm-9 padding-right">
					<div class="product-details">
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{imagem}}" alt="" style="height: 400px;"/>
							</div>
						</div>
						
						<div class="col-sm-7">
							<div class="product-information">
								<h2>{{nome}}</h2>
								<span>
									<s><h5 id="preco"></h5></s>
									<span id="desconto"></span>
									<form style="margin-left: 130px; margin-top: 5px; position: absolute;" action="/carrinho" method="GET">
										<button type="submit" class="btn btn-fefault cart" id="adiciona-carrinho">
											<i class="fa fa-shopping-cart"></i>
											Comprar
										</button>
									</form>
								</span>
								<h4>{{descricao}}</h4>
								<h4 id="marca"></h4>
								<h4 id="classificacao"></h4>
								<h4 id="tipo"></h4>
							</div>
							
						</div>
					</div>
					<div id="semelhantes">
						<div class="left-sidebar">
							<h2>Produtos Relacionados</h2>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	{{>/WEB-INF/includes/scripts-after.html}}
	<script>
	$(document).ready(function(){		
		{{preco}} > {{precoTotal}} ? $('#preco')[0].innerHTML = toMoney({{preco}}) : "";
		$('#desconto')[0].innerHTML = toMoney({{precoTotal}});

		var tags = "{{#tags}}{{classificacao}}:{{descricao}} {{/tags}}";
		var marca = tags.split(' ')[0].split(':')[1];
		var classificacao = tags.split(' ')[1].split(':')[0];
		var link = tags.split(' ')[1].split(':')[1];
		$('#marca')[0].innerHTML = "Marca: <a href='/produtos/pesquisaTag?busca="+marca+"&pagina=1'>" + marca + "</a>";
		$('#classificacao')[0].innerHTML = "Categoria: <b>" + classificacao + "</b>";
		$('#tipo')[0].innerHTML = "Tipo: <a href='/produtos/pesquisa?busca=" + link +"&pagina=1'>" + link + "</a>";
		var idProduto = {{idProduto}};
		
		$.ajax({
			url:'/produtos/buscaRelacionados?idProduto=' + idProduto,
			type:'GET',
			dataType:'json',
			success: function(resposta){
				if(resposta.length > 3){
					resposta = [resposta[0], resposta[1], resposta[2]];
				}
				$.each(resposta, function(i,produto){
					
					var idProduto = produto["idProduto"];
					var imagem = produto["imagem"];
					var nome = produto["nome"];
					var preco = produto["preco"];
					var desconto = produto["desconto"];
					var precoDesconto = preco - ((preco * desconto)/100);
					preco = toMoney(preco);
					precoDesconto = toMoney(precoDesconto);
					$("#semelhantes").append(
						$("<div class='col-sm-4'>").append(
							$("<div class='product-image-wrapper'>").append(
								$("<div class='single-products'>").append(
									$("<div class='productinfo text-center'>").append(
										$("<img src='"+imagem+"' alt='imagem do produto'>").css(
											{"width":"100px","height":"100px"}
										),
										desconto > 0 ? $("<h5>").append(
											$("<s>").append(preco)
										) : "",
										$("<h2>").append(precoDesconto),
										$("<p>").append(nome),
										$("<a href='/produto/detalhes?id="+idProduto+"' class='btn btn-default add-to-cart'>").append(
											$("<i class='fa fa-shopping-cart'>"),
											("Ver Detalhes")
										)
									)
								)
							)
						)
					);
				});
			}
		});
	});
		
		$("#adiciona-carrinho").on("click", function(){
			
			var produto = {};
			produto.idProduto = {{idProduto}};
			produto.sku = "{{sku}}";
			produto.nome = "{{nome}}";
			produto.preco = {{preco}};
			produto.desconto = {{desconto}};
			produto.descricao = "{{descricao}}";
			produto.imagem = "{{imagem}}";
			
			$.post("/carrinho/adiciona", produto);
		})
	</script>
</body>
</html>