
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa | Comerciator</title>
   
        {{>/WEB-INF/includes/head.html}}
    
</head><!--/head-->

<body>
    {{>/WEB-INF/includes/header.html}}
  	{{>/WEB-INF/includes/scripts-after.html}}
  	

	<section>
		<div class="container">
			<div class="row">
				
					{{>/WEB-INF/includes/menu-lateral.html}}	
					<!-- Menu lateral com produtos e categorias -->			
				
				<div class="col-sm-9 padding-right">
					<div class="features_items" id="produtos-loja"><!--features_items-->
						<h2 class="title text-center">Pesquisa por: {{busca}}</h2>
						
						{{#produtos}}
							<script>
							var idProduto = {{idProduto}};
							var descricao = "{{descricao}}";
							var imagem = "{{imagem}}";
							var nome = "{{nome}}";
							var preco = {{preco}};
							var desconto = {{desconto}};
							var precoDesconto = preco - ((preco * desconto)/100);
							
							var detalhesProduto = $(
								$("<img src='"+imagem+"' alt='imagem do produto'>"),
								$("<h2>").append(
									$("<i>").append(toMoney(preco))
								),
								$("<h2>").append(toMoney(precoDesconto)),
								$("<p>").append(nome),
								$("<a href='' class='btn btn-default add-to-cart'>").append(
									$("<i class='fa fa-shopping-cart'>"),
									$("Adicionar ao carrinho")
								)
							);
							
							$("#produtos-loja").append(
								$("<div class='col-sm-4'>").append(
									$("<div class='product-image-wrapper'>").append(
										$("<div class='single-products'>").append(
											$("<div class='productinfo text-center'>").append(
												$("<img src='"+imagem+"' alt='imagem do produto'>").css(
													{"width":"200px","height":"200px"}
												),
												desconto > 0 ? $("<h5>").append(
													$("<s>").append(toMoney(preco))
												) : "",
												$("<h2>").append(toMoney(precoDesconto)),
												$("<p>").append(nome),
												$("<a href='/produto/detalhes?id="+idProduto+"' class='btn btn-default add-to-cart'>").append(
													$("<i class='fa fa-shopping-cart'>"),
													("Ver Detalhes")
												)
											)
										)
									)
								)
							);
							
							{{#mensagem}}
							console.log("ok");
							<h1><i>{{mensagem}}</i></h1>
							{{/mensagem}}
							</script>
							<!-- <div class="col-sm-4"><div class="product-image-wrapper"><div class="single-products"><div class="productinfo text-center"><img height=250px width=200px src={{imagem}} alt="produto" /><h2>R$ {{preco}}</h2><p>{{nome}}  {{descricao}}</p><a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Adicionar ao carrinho</a></div></div></div></div>						
						-->
						{{/produtos}}
						
						
						
						
						
						
					</div>
					<div style="text-align:center" id="paginacao">
						<ul name="pagina" class="pagination">

							{{#numeroDePaginas}}
								<li  class="{{#paginaAtual}} active {{/paginaAtual}}" ><a href="/produtos/pesquisa?busca={{busca}}&pagina={{numeroPagina}}">{{numeroPagina}}</a></li>
							{{/numeroDePaginas}}
						</ul>
					</div>
				</div>			
			
	</section>
	
	
    </body>
</html>