<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Comerciator</title>
    {{>/WEB-INF/includes/head.html}}
</head><!--/head-->

<body>

	{{>/WEB-INF/includes/header.html}}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row" style="text-align:center;">
				<h1>
					<i>Você está logado como {{usuario}}.</i>
				</h1>
			</div>
		</div>
	</section><!--/form-->

	{{>/WEB-INF/includes/scripts-after.html}}
</body>
</html>